<div id="about_site">
  <div id="about_site_title">
    <span id="about_site_title_disp">がっつりグルメについて</span>
  </div>
  
  <div id="about_site_description">
    がっつりグルメは「がっつり」系のメニューを提供する飲食店を紹介するサイトです！<br>
    
    <div class="about-site-section">
      <div class="about-site-section-title">
        検索方法
      </div>
      
      <div class="about-site-section-container clearfix">
        <div class="about-site-section-description">
          左の地図、あるいは右の検索フォームにより飲食店を検索することができます！<br>
          現在は、関東地方のみが対応となっております。
        </div>
      
        <div class="about-site-section-picture">
          <%= image_tag("top_page_capture.jpg", class:"review-icon") %>
        </div>
      </div> <!-- about-site-section-description -->
      
    </div> <!-- about-site-section -->
    
    <div class="about-site-section">
      <div class="about-site-section-title">
        アカウントの作成
      </div>
      
      <div class="about-site-section-container clearfix">
        <div class="about-site-section-description">
          アカウントは、ID・パスワードのみで作成することができます！<br>
          ログイン状態で利用して頂く事により、各飲食店を「お気に入りに追加」することや、口コミを投稿することができます！<br>
          また、マイページ内でアカウントを削除することができますので、是非お気軽にアカウントを作成し利用してみてください！<br>
        </div> <!-- about-site-section-description -->
        
        <div class="about-site-section-picture">
          <%= image_tag("account_new_capture.jpg", class:"review-icon") %>
        </div>
      </div> <!-- about-site-section-description -->
    </div> <!-- about-site-section -->
    
    <div class="about-site-section">
      <div class="about-site-section-title">
        マイページ
      </div>
      
      <div class="about-site-section-container clearfix">
        <div class="about-site-section-description">
          「お気に入り追加」を行った飲食店、投稿した口コミを確認することが出来ます！<br>
          また、ログアウトやアカウントのパスワード変更、アカウントの削除は、このページで行います。
        </div> <!-- about-site-section-description -->
        
        <div class="about-site-section-picture">
          <%= image_tag("mypage_capture.jpg", class:"review-icon") %>
        </div>
      </div> <!-- about-site-section-description -->
    </div> <!-- about-site-section -->
    
  </div> <!-- about_site_description -->
  
</div> <!-- about_site -->
