<div id="not_search_result">
  <div id="not_search_result_title">
    <span id="not_search_result_title_disp_area">検索地域：<%= @area %></span>
  </div> <!-- not_search_result_title -->
  
  お店は見つかりませんでした。  
</div> <!-- not_search_result -->


