<div id="terms">
  <div id="terms_title">プライバシーポリシー</div>
  
  <div id="terms_container">
    がっつりグルメは、個人情報保護に関する法令を遵守し、同法に関連する社会的な通念に従って、利用者のプライバシー保護に努めます。
    
    <ul>
      <li class="terms-item">第１条（個人情報の定義）</li>
        <div class="terms-descript">
          個人情報とは、本サービスを通じて利用者からID、パスワード、その他の利用者個人を特定できる情報のことを指します。
        </div>
      
      <li class="terms-item">第２条（個人情報の取得・利用について）</li>
        <div class="terms-descript">
          がっつりグルメは、下記の場合において、個人情報を取得・利用します。
          
          <ul>
            <li class="terms-sub-item">利用者がサービスを使用するため</li>
            <li class="terms-sub-item">サービスの改善に役立てるため</li>
            <li class="terms-sub-item">法的に必要だと認められた場合</li>
          </ul>
      </div>   
      
      <li class="terms-item">第３条（個人情報の第三者への開示・提供の禁止）</li>
        <div class="terms-descript">
          がっつりグルメは、以下の場合を除き、第三者に対しデータを開示・提供することは致しません。
          
          <ul>
            <li class="terms-sub-item">ご本人が事前に同意した場合</li>
            <li class="terms-sub-item">法律に基づく場合</li>
            <li class="terms-sub-item">法令の定める事務を遂行するために、協力する必要性がでてきた場合</li>
          </ul>
        </div>
        
      <li class="terms-item">第４条（本サービスの停止・変更・休止・廃止）</li>
        <div class="terms-descript">
          がっつりグルメは、理由の如何を問わず、利用者に事前の通知及びいかなる補償をすることもなく、サービスの全部または一部を停止、変更、休止または廃止することができるものとします。当該停止により、利用者または第三者に損害が生じた場合であっても、 がっつりグルメは、何らの責任も負わないものとします。
        </div>
      
      <li class="terms-item">第５条（免責）</li>
        <div class="terms-descript">
          がっつりグルメは、本サービスの情報のすべてについての正確性、安全性及び有用性を保証するものではありません。<br>
          がっつりグルメは、利用者が当社サービスによって行った一切の行為と、その結果及び当該行為によって被った損害について、何ら責任を負わないものとします。
        </div>
      
      <li class="terms-item">第６条（改定）</li>
        <div class="terms-descript">
          がっつりグルメは、当プライバシーポリシーの全部または一部を改定することがあります。
        </div>
      
      <li class="terms-item">第７条（個人情報等の取り扱い）</li>
        <div class="terms-descript">
          がっつりグルメは、本サービスの提供に際して利用者から取得した個人情報は、「プライバシーポリシー」に従い、適切に取り扱います。
        </div>
    </ul>
  </div> <!-- terms_container -->