<!--MAP・検索フォーム homeフォルダindex.html.erbをよびだし。-->
<div id="terms">
  <div id="terms_title">利用規約</div>
  
  <div id="terms_container">
    がっつりグルメ は、<a href="https://api.gnavi.co.jp/api/" target="_blank">ぐるなびWebサービス</a>のAPIより取得した情報を含んでおります。<br>
    ぐるなびWebサービスより取得した店舗情報のコンテンツは、ぐるなびに帰属しています。<br>
    この利用規約は、ぐるなびWebサービスの利用条件を定めるものです。<br>
    <br>
    また、がっつりグルメの公開目的は管理者のWebシステム開発に対するスキルを披露するためであり、ぐるなびWebサービスより取得した店舗の情報を発信することではありません。<br>
    本サイト内で口コミ投稿機能を設けておりますが、各ユーザが投稿したコメント、および画像等については実際の店舗情報とは異なる場合があります。<br>
    一部の口コミ情報について、実際の店舗情報と異なる場合があることに了承しうえでの利用をお願い致します。<br>
    <br>
    利用者の皆さまには、本規約に従って本サービスをご利用頂きます。<br>
    
    <ul>
      <li class="terms-item">第１条（個人情報の定義）</li>
        <div class="terms-descript">
           個人情報とは、本サービスを通じて利用者からID、パスワード、その他の利用者個人を特定できる情報のことを指します。
        </div>
      
      <li class="terms-item">第２条（利用登録）</li>
        <div class="terms-descript">
          登録希望者が、がっつりグルメの定める方法によって利用登録を申請し、がっつりグルメがこれを承認することによって、利用登録が完了するものとします。
        </div>
      <li class="terms-item">第３条（IDおよびパスワードの管理）</li>
        <div class="terms-descript">
          利用者は、自己の責任において本サービスのIDおよびパスワードを管理するものとします。<br>
          利用者は、いかなる場合にもIDおよびパスワードを、第三者に譲渡または貸与することはできません。<br>
          がっつりグルメはIDとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのIDを登録している利用者自身による利用とみなします。
        </div>
        
        <li class="terms-item">第４条（禁止事項）</li>
          <div class="terms-descript">
            利用者は本サービスの利用にあたり以下の行為をしてはなりません。
            <ul>
              <li class="terms-sub-item">法令または公序良俗に違反する行為</li>
              <li class="terms-sub-item">犯罪行為に関連する行為</li>
              <li class="terms-sub-item">がっつりグルメのサーバーまたはネットワークの機能を破壊したり妨害したりする行為</li>
              <li class="terms-sub-item">がっつりグルメのサービスの運営を妨害するおそれのある行為</li>
              <li class="terms-sub-item">他の利用者に関する個人情報等を収集または蓄積する行為</li>
              <li class="terms-sub-item">他の利用者に成りすます行為</li>
              <li class="terms-sub-item">店舗の評価を下げる口コミを投稿する行為</li>
              <li class="terms-sub-item">がっつりグルメの利用にそぐわないコメント、および画像を投稿する行為</li>
              <li class="terms-sub-item">その他、がっつりグルメが不適切と判断する行為</li>
            </ul>
          </div>
      <li class="terms-item">第５条（本サービスの提供の停止等）</li>
        <div class="terms-descript">
          がっつりグルメは以下のいずれかの事由があると判断した場合、利用者に事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
          <ul>
            <li class="terms-sub-item">本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
            <li class="terms-sub-item">地震落雷火災停電または天災などの不可抗力により本サービスの提供が困難となった場合</li>
            <li class="terms-sub-item">コンピュータまたは通信回線等が事故により停止した場合</li>
            <li class="terms-sub-item">その他、がっつりグルメが本サービスの提供が困難と判断した場合</li>
          </ul>
          がっつりグルメは、本サービスの提供の停止または中断により、利用者または第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。
        </div>　
      <li class="terms-item">第６条（利用制限および登録抹消）</li>
         <div class="terms-descript">
           がっつりグルメは、以下の場合には事前の通知なく、利用者に対して本サービスの全部もしくは一部の利用を制限し、または利用者としての登録を抹消することができるものとします。
          <ul>
            <li class="terms-sub-item">本規約のいずれかの条項に違反した場合</li>
            <li class="terms-sub-item">登録事項に虚偽の事実があることが判明した場合</li>
            <li class="terms-sub-item">その他、がっつりグルメが本サービスの利用を適当でないと判断した場合</li>
          </ul>
        </div>  
      <li class="terms-item">第７条（免責事項）</li>
        <div class="terms-descript">
          がっつりグルメは、本サービスに関して利用者に生じた損害に関して一切責任を負いません。
        </div>
      <li class="terms-item">第８条（サービス内容の変更等）</li>
        <div class="terms-descript">
          がっつりグルメは、利用者に通知することなく本サービスの内容を変更し、または本サービスの提供を中止することができるものとし、これによって利用者に生じた損害について一切の責任を負いません。
        </div>
      <li class="terms-item">第９条（利用規約の変更）</li>
        <div class="terms-descript">
          がっつりグルメは、利用者に通知することなく本規約の全部または一部を変更することができるものとします。
        </div>
    </ul>
</div>
