/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

div#overlay{
  width: 100%;
  height: 100%;
  
  position: fixed;
  
  background-color: rgba(0, 0, 0, 0.3);
  
  display: none;
  z-index: 11;
}

div#header{
  position: fixed;
  width: 100%;
  height: 40px;
  background: rgb(91, 155, 213);
  z-index: 10;
}

div#header_area{
  margin: 0 auto;
  width: 1000px;
}

div#header_logo{
  float: left;
  margin: 5px 0 5px 15px;
}

div#notice_msg{
  float: left;
  margin: 5px 0 0 0;
  width: 50%;
  font-size: large;
  text-align: center;
  color: white;
}

div#gnavi{
  float: right;
  margin: 5px 0 0 0;
}

div#gnavi li{
  float: left;
  margin: 0 30px 0 0;
}

div#container{
  width: 100%;
}

div#container_area{
  width: 1000px;
  margin: 0 auto;
  
  flex: 1;
  padding: 40px 0 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

div#footer{
  width: 100%;
  background: rgb(91, 155, 213);
}

div#footer_area{
  margin: 0 auto;
  width: 1000px;
}

div#credit{
  float: left;
  margin: 5px 0 5px 15px;
}

div#footer_nav{
  float: right;
}

div#footer_nav li{
  float: left;
  margin: 5px 30px 0 0;
}

div.genre-area{
  clear: both;
  
  font-size: small;
  text-align: center;
  
}

.btn{
  display: inline-block;
  padding: 3px 5px 3px 5px;
  background-color: rgba(255, 255, 255, 0.5)
}

a{
  text-decoration: none;
}

.blue_font{
  color: blue;
}