// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#login_form{
  border: 1px solid rgb(91, 155, 213);
  
  text-align: center;
  font-size: large;
  
  padding: 10px;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
 
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
}

div#login_form_title{
  padding: 5px;
  background-color: orange;
  color: white;
}

#user_id, #password{
  width: 400px;
  font-size: large;
}

#input_button{
  font-size: large;
}

div#new_account_link{
  margin: 50px 0 0 0;
  text-align: center;
}

div#mypage_title{
  //background-color: rgb(91, 155, 213);
  background-color: orange;
  
  margin: 10px 0 0 0;
  
  font-size: large;
  text-align: center;
  color: white;
}

div#bookmark_title, div#show_review_title{
  margin: 50px 0 0 10px;
  
  //border-bottom: 1px dotted red;
  border: 2px dotted red;
  
  font-size: large;
  text-align: center;
}


div[id^="show_review_vote_"]{
  margin: 10px 0 0 10px;
  background-color: rgb(91, 155, 213);
  color: white;
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
}

div.show-review-store-title{
  text-align: center;
  
  background: orange;
  
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

div.show-review-menu-name{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
  width: 70%;
  
  font-size: large;
  text-align: center;
  
  border-bottom: 1px dotted white;
}

div.show-review-content{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
  width: 90%;
  
  padding: 5px;
}

div.show-review-content-left-side{
  width: 30%;
  float: left;
}

div.show-review-score{
  padding: 10px;
  // border: 1px solid orange;
  
  // -moz-border-radius:10px;/* Firefox用の角丸設定 */
  // -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  // border-radius:10px; /* 角丸設定 */  
}

div.show-review-score ul{
  text-align: center;
}

div.show-review-score li{
  width: 10%;

  vertical-align: bottom;
  
  display: inline-block;
}

div.show-review-image{
}

div.show-review-right-side{
  padding: 5px;
  
  width: 60%;
  float: right;
  
  border: 1px solid orange;
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
}

div.show-review-date{
  text-align: right;
  font-size: small;
}

div.show-review-footer{
  padding: 10px 0 10px 10px;

  border-top: 1px dotted white;
}

div.show-review-footer li{
  margin: 0 0 0 15px;
  
  display: inline-block;
}
.target_store_all_review{
  padding: 0 10px 0 0;
  float: right;
}

div#user_info{
  margin: 50px 0 0 0;
  
  border: 1px solid rgb(91, 155, 213);
  position: fixed;
  
  font-size: large;
  text-align: center;
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
}

div#user_id_disp{
  border-bottom: 1px dotted rgb(91, 155, 213);
}

div.user_info_element{
  margin: 20px 0 0 0;
}

div.user_info_element_title{
  padding: 3px;
  background-color: rgb(91, 155, 213);
  display: inline-block;
  
  color: white;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
}

div#user_info_navi{
  margin: 10px 0 0 0;
  
  border-top: 1px dotted rgb(91, 155, 213);
}

div#user_info_navi li{
  margin: 0 2px 0 2px;
  
  display: inline-block;
  font-size: medium;
}


div#modal_window{
  width: 50%;
  height: 30%;
  
  font-size: large;
  
  background: white;
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */  
  
  text-align: center;
  
  position: fixed;
  display: none;
  z-index: 12;
}

div#modal_window_store_title{
  margin-top: 20px;
}

div#modal_window_store_title span{
  border: 1px solid red;
  
  padding: 2px;
}

div#modal_window_select_area{
  margin: 50px 0 0 0;

  display: inline-block;
}

div#modal_window_select_area li{
  display: inline-block;
}

.border-dotted{
  border: 1px dotted white;
}