<div id="review_page_top">
<u><%= @store.name %></u>　の口コミ
</div>

<div id="review_page_main">
<% if ((@store.reviews.count > 0) || @store.input_reviews.count > 0)          %>
<%#   APIから取得した口コミを表示                                             %>
<%=   render(partial: "reviews_disp",
              locals: {      reviews: @store.reviews,
                       input_reviews: @store.input_reviews}) %>

<% else %>
<%=   render :partial => "reviews_none" %>
<% end %>

</div>  <!-- review_page_main -->